<%- include('./layout/header.ejs') %>
<h1>Forget Password</h1>
<form  method="post">
    <div>
          <input 
          type="email" 
          name="email" 
          id="email"
          placeholder="Enter your email"
          size="40"
          required
          > 
    </div>  
    <br>
    <div>
        <button type="submit">Reset</button>
    </div> 
</form>


<%- include('./layout/footer.ejs') %>

 