<%- include('./layout/header.ejs') %>
<h1>User Login</h1>
<form action="/login" method="post">
    <div>
          <input 
          type="email" 
          name="email" 
          id="email"
          placeholder="Enter your email"
          size="40"
          required
          >
    </div>  
    <br>
    <div>
          <input 
          type="password" 
          name="password" 
          id="password"
          placeholder="Enter your password"
          size="40"
          required
          >
    </div>  
    <br>
    <div>
        <button type="submit">Login</button>
        <a href="/resend-verification">resend verification link</a>
    </div> 
</form>


<%- include('./layout/footer.ejs') %>

